<h1>Workplace №{{ workplaceId }} information:</h1>
<div *ngIf="workplace$ | async as workplace">
  <p *ngIf="workplace.employee">Employee: <span>{{ workplace.employee }}</span></p>
  <p *ngIf="workplace.employeeRole">Role: <span>{{ workplace.employeeRole }}</span></p>
  <p *ngIf="workplace.birthDate">Birth date: <span>{{ workplace.birthDate | date}}</span></p>
  <p >Equipment on workplace: <span>{{ workplace.equipment }}</span></p>
  <p *ngIf="workplace.workStatus">Employee works at: <span>{{ workplace.workStatus }}</span></p>
  <p *ngIf="workplace.regime">Regime: <span>{{ workplace.regime | regime }}</span></p>

  <button *ngIf="!workplace.employee" (click)="applyToWorkplace(workplace.id)">Apply to this workplace</button>
</div>
