.workingplace-case {
  border: 1px solid;
  padding: 16px;
  width: 600px;
  margin: 4px;
  border-radius: 10px;
  border: 1px solid #a8a7a7;
}

.workingplace-case:hover {
  background-color: #dbd6d6;
}
