:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

li {
  display: inline;
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
  a {
    color: #4b4b4b;
    text-decoration: none;
    padding: 14px;
    cursor: pointer;
    &:hover {
      background-color: #111;
    }
  }
}
